site_name: Microsoft Outlook for Virginia Tech Students
site_url: https://tomseely.github.io/site
theme:
  name: material
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
